body{
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}
h2{
    text-align: center;
}
input,
select,
button{
    padding: 8px;
    margin:5px;

}

button{
    background-color: #1976d2;
    color:white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #12579a;

}
#cards {
    display: flex;
    flex-wrap:wrap;
}
#cards div {
    background: white ;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width:220px;
}
